<!DOCTYPE html>
<html>
<head>
    <title>BLOG POST</title>
</head>
<body>
<a href="/">BACK</a>
<h2>{{ blogContents.blog_title }}</h2>

    {{ blogContents.blog_content }}

<small>{{ blogContents.date_created }}</small>
</body>
</html>