<!DOCTYPE html>
<html>
<head>
    <title>BLOG POST</title>
</head>
<body>

{% for menu in menus %}
    <a href="/menu/{{ menu.name }}">{{ menu.name }}</a>
{% endfor %}
<hr />

{% for allContent in allContents %}
    <a href="/content/{{ allContent.link }}">{{ allContent.blog_title }}</a>
<hr />
{% endfor %}


</body>
</html>