<!DOCTYPE html>
<html>
<head>
    <title>sdkfsdf</title>
</head>
<body>
<form id="sad" action="/menu/create" method="post">
    <input type="text" name="name" />
    <input type="text" name="description" />
    <input type="submit" name="submit" value="submit">
</form>
</body>
</html>