{% extends "admin/master.html.twig" %}

{% block content %}
<h3>Update Blog Post</h3>
<table>
{% for content in contents %}
    <tr><td><a href="/admin/content/{{ content.blog_link }}">{{ content.blog_title }}</a></td></tr>
{% endfor %}
</table>

{% endblock %}