{% extends "admin/master.html.twig" %}

{% block content %}
<h3>Create Menu</h3>
<form class="form-horizontal" id="creatmenu" role="form" action="/admin/menu/create" method="post">
    <div class="form-group">
        <label for="usr">Menu:</label>
        <input type="text" class="form-control" name="name">
    </div>
    <div class="form-group">
        <label for="comment">description:</label>
        <textarea class="form-control" rows="3" name="description"></textarea>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-default">Submit</button>
    </div>
</form>
<hr />
<h3>Create SUB Menu</h3>
<form id="sub_menu" action="/admin/menu/sub_menu" method="post">
    <div class="form-group">
        <label for="sel1">Menu:</label>
        <select class="form-control" name="menu_id">
            {% for menu in menus %}
                <option value="{{ menu.id }}">{{ menu.name }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="form-group">
        <label for="usr">Menu:</label>
        <input type="text" class="form-control" name="submenu_name">
    </div>
    <div class="form-group">
        <label for="comment">description:</label>
        <textarea class="form-control" rows="3" name="submenu_description"></textarea>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-default">Submit</button>
    </div>
</form>
<script type="text/javascript">
$(document).ready(function(){
    $("#create_menu").submit(function(){
        $.post('/admin/menu/create', $("#create_menu").serialize(), function(e){
            alert(e);
        });
    return false;
    });
    $("#sub_menu").submit(function(){
        $.post('/admin/menu/sub_menu', $("#sub_menu").serialize(), function(e){
            alert(e);
        });
    return false;
    });
});
</script>
{% endblock %}